<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.test2.User2Mapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.model.User" >
        <result column="email" property="username" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    </resultMap>


    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
      *
	   FROM user
    </select>

</mapper>